# EmailJS
# Crea una cuenta en https://www.emailjs.com y configura un servicio + plantilla
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=

# WhatsApp
# Número internacional sin "+" ni espacios, ej: 573002345678
NUXT_PUBLIC_WHATSAPP_NUMBER=
NUXT_PUBLIC_WHATSAPP_MESSAGE=